*.o
*.a
*.mod
.nfs*
*.kate-swp
*.auto.f90
*.pyc
*.so
*.so.dSYM
*.tmp
*.png
.python-version
.DS_Store
*.ipynb_checkpoints
*/docs/build
libs/*/build
build
doc/build
dist
*egg-info
refractiveIndex/examples/refractive_indexes.pdf
*/.pytest_cache
.pytest_cache
dask-worker-space
MANIFEST
*f2pywrappers2.f90
*ibmodule.c
.eggs
.coverage