*.o
*.a
*.mod
.nfs*
*.kate-swp
*.auto.f90
*.pyc
*.so
*.so.dSYM
*.tmp
*.png
.python-version
.DS_Store
*/examples/.ipynb_checkpoints
*/docs/build
*/build
pyPamtraRadarSimulator/pyPamtraRadarSimulator/pyPamtraRadarSimulatorLib/pyPamtraRadarSimulatorLibmodule.c
pyPamtraRadarSimulator/pyPamtraRadarSimulator/pyPamtraRadarSimulatorLib/pyPamtraRadarSimulatorLib-f2pywrappers2.f90
*egg-info
refractiveIndex/examples/refractive_indexes.pdf
*/.pytest_cache
.pytest_cache
dask-worker-space


